h1 {
    text-align: center;
  }

.nav-link {
    color: #000000;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #000000 !important;
  }
  
  .needs-validation {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1564a0;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    background-color: #cce8fd;
    height: 100%;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    flex-basis: calc(50% - 10px);
  }

  .form-row {
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    background-color: white;
    border: 1px solid #1564a0;
    border-radius: 10px;
    height: 550px;
  }
  .t {
  
    width: 100%;
    margin-bottom: 1%;
    border-radius: 5px;
    table-layout: auto;
    background-color: white;
   overflow-y: auto;
    height: 500px;
  }
  
  .t td {
    width: auto;
    height: 50px;
    text-align: center;
  }
  
  .t th {
    text-align: center;
  }
  