h1 {
    text-align: center;
  }

.nav-link {
    color: #000000;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #000000 !important;
  }
  
  .needs-validation {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1564a0;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    background-color: #cce8fd;
    height: 650px;
  }
  
 

  .form-row {
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    background-color: white;
    border: 1px solid #1564a0;
    border-radius: 10px;
    height: 500px;
  }
  .t {
  
    width: 100%;
    margin-bottom: 1%;
    border-radius: 5px;
    table-layout: auto;
    background-color: white;
   overflow-y: auto;
   
  }
  
  .t td {
    width: auto;
    height: 50px;
    text-align: center;
  }
  
  .t th {
    text-align: center;
  }

  .btn-primary {
    
    border-radius: 10px;
    margin-left: 3%;
    width: 40%;
height:35px;
  }
  
.y {
  height: 40px;
  
  width: 40%;
  margin-right: 0%;
}

label {
  font-weight: bold;
  display: inline-block;
  width: 150px;
  margin-left: 5%;
  margin-bottom: 1%;
}
.bt {
    border-radius: 10px;
    
    width: 50%;
    margin-top:  4%;
    margin-left: 2%;
height: 60px;
  }
  .btn {
    border-radius: 10px;
    
    width: 50%;
    margin-left: 20%;
height: 60px;
  }
.search{
    display: flex;
    height: 60px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    width: 40%;
    margin-right: 2%;
}